<h1> je susi dans la show</h1>

<%= @restaurant.name %> <br>
<%= @restaurant.address %> <br>
<%= @restaurant.phone_number %> <br>
<%= @restaurant.category %> <br>
<%= link_to "Edit", edit_restaurant_path(@restaurant) %> <br> <br>

<%= link_to "Retour a l'accueil", restaurants_path %>
